<!DOCTYPE html>
{% extends "App/base.html" %}
{% block body_block %}
    <div class = 'container'>
    <h1>Pulse Email Stats</h1>
        <hr>
        <h5>Overall Pulse Campaign Stats:</h5>
        <iframe class="airtable-embed" src="https://airtable.com/embed/shrCRVKmFIt8XK3Zt?backgroundColor=blue&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
            <hr><hr>
            <h5>URL Click Stats Grouped by Campaign:</h5>
            <iframe class="airtable-embed" src="https://airtable.com/embed/shrDSJ7JJQdPlfbEn?backgroundColor=blue&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
        <h5>Update the Databases:</h5>
        <h6>Select a date lag and click the button below.  A date lag of 7 means that data from Mailchimp campaigns sent within the last 7 days will be updated and new campaigns will be added.</h6>
        <form method = 'POST' enctype="multipart/form-data">
        {{form.as_p}}
        {% csrf_token %}
            <input type="submit" class = "btn btn-primary" value="Collect Pulse Data from Mailchimp" onclick="location.href='{% url 'App:activate' %}'">

    </form>
    </div>
{% endblock %}